<h2>Choose Your Pokémon</h2>

<ul>
  {{#each model as |pokemon|}}
    <li>{{pokemon-summary pokemon=pokemon click='toggleGym'}}</li>
  {{/each}}
</ul>

{{pagination-controls meta=meta next=(action 'next') prev=(action 'prev')}}
